* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Images/BG\ LOGO.jpg);
  background-position: center;
  background-size: cover; 
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 120px;
  position: absolute;
  left: 36px;
  top: 26px;
}
.niv-links{
  flex: 1;
  text-align: right;
}
.niv-links ul li{
  list-style: none;
  display: inline-block;
  padding: 20px 12px;
  position: relative; 
}
.niv-links ul li a{
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.niv-links ul li ::after{
  content: "";
  width: 0%;
  height: 2px;
  background: #326fa8;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.niv-links ul li :hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
   font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #326fa8;
  background: #326fa8;
  transition: 1s;
}

nav .fa{
  display: none;
}

@media(max-width: 700px){
  .text-box h1{
    font-size: 20px;
  }
  nav img{
    left: 10px;
    top: 10px;
  }
    .niv-links ul li{
       display: block;
  }
  .niv-links{
        position: absolute;
        background: #326fa8;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
  }
  nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;

  }
  .niv-links ul{
      padding: 30px;
      
  }
}
/* ----- Projects ----- */

.project{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.project-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding:  20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.project-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
  .row{
    flex-direction: column;
    border-radius: 20px;
    }
}

/*-----Campus-----*/

.campus{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-col{
  flex-basis: 60%;
  border-radius: 20px;
  margin-bottom: 10px;
  left: 18%;
  position: relative;
  overflow: hidden;
}
.campus-col img{
     width: 100%;
     display: block;
}
.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover{
  background: rgba(226,0,0,0.7);
}
.layer h3{
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left : 50%;
  transform: translateX(-50%);
  position:absolute;
  transition: 1s;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3{
  opacity: 1;
  bottom: 43%;
}

@media(max-width: 700px){
    .campus-col{
      flex-basis: 60%;
      border-radius: 20px;
      margin-bottom: 10px;
      left: 0%
    }
}

/*--------Editing Softwares--------*/

.Software{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.software-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.software-col img{
  width: 100%;
  border-radius: 10px;
}
.software-col p{
  padding: 0;
}
.software-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/*--------Client-----*/

.Client{
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.Client-col{
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.Client-col img{
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.Client-col p{
  padding: 0;
}
.Client-col h3{
  margin-top: 15px;
  text-align: left;
}
.Client-col .fa{
  color: #f44336;
}

@media(max-width: 700px){
  .Client-col img{
    margin-left: 0px;
    margin-right: 15px;
  }
}

/*------- Call to Action------*/

.cta{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(Images/contact.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media(max-width: 700px){
  .cta h1{
    font-size: 23px;
    text-align: center;
    margin-top: 20%;
  }
}

/*------- Footer ------*/

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons .fa{
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart-o{
  color: #f44336;
}